
* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    min-width: 100% !important;
    height: 100%;
    width: 100%;
    background: #142d4c; 
    overflow-x: hidden;
}
.container{
    display: grid;
    grid-template-columns:  13rem auto;
    min-height: 100% !important;
    height: 100%;
}
.menu{
color:#fff;
background: #0b3f61; 
overflow: scroll;
width:11rem;
height: 100vh; /* percent relative to viewport height */
overflow-x: hidden;
border-radius: 10px;
margin: 7px;
padding: 5px;
/* position: fixed; */

/* width:90% */
}
.top-right-bar{
    margin-left: auto; 
    margin-right: 0;
    display: flex;
    gap: 2rem;
}
.top-left-bar > input{
    border-radius: 10px;
    height: 1.5rem;
    width: 20rem;
    position: relative;
    padding-left: 1rem;
    background-color: rgb(198, 189, 189);
}
.menu-list{
    width:100%;
    position: relative;
    padding: 5px;
}
.main{
    margin: auto;
    color:#fff;
    margin: 8px;
    display: flex;
    height: 100vh; /* percent relative to viewport height */
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0b3f61; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0b3f61; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0b3f61; 
  }
.topbar{
    color:#fff;
    background: #0b3f61; 
    border-radius: 10px;
    margin-top: 7px;
    padding: 5px;
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.cards{
display: grid;
grid-template-columns:  auto auto auto auto  auto;
gap:  2rem;
height:7rem;
width: 5rem;
color: #fff;
width: 100%;
margin: 1rem;
}
.cards div:nth-child(1) {
    background: radial-gradient(circle at 1.9% 51.2%, rgb(5, 195, 213) 0%, rgb(85, 88, 218) 15.9%, rgb(77, 255, 222) 15.9%, rgb(255, 163, 77) 24.4%, #59f9e6 24.5%, #59f9e6 66%);
}
.cards div:nth-child(2) {
    background: radial-gradient(circle at 1.9% 51.2%, rgb(5, 195, 213) 0%, rgb(85, 88, 218) 15.9%, rgb(77, 255, 222) 15.9%, rgb(255, 163, 77) 24.4%, #42b883 24.5%, #42b883 66%);
}
.cards div:nth-child(3) {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.cards div:nth-child(4) {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
.cards div:nth-child(5) {
    background: linear-gradient(105.7deg, rgb(0, 238, 179) 23.2%, rgb(49, 100, 255) 100.5%);
}
.card{
    display: grid;
    grid-template-columns:  auto auto auto auto;
    gap:  2rem;
    height: 100%;
    width: 88%;
    color: #fff;
    border-radius: 20px;
    background-color: #0b3f61;
    padding: 1px;
    }
    .charts{
        gap:  2rem;
        height:16rem;
        width: 5rem;
        color: #fff;
        width: 100%;
        margin: 1rem;
        background-color: #0b3f61;
        margin: auto;
        border-radius: 10px;
        }

.grid-elements{
            display: grid;
            margin-top: 1rem;
            grid-template-columns:  auto auto auto;
             gap: 1rem;
            height:16rem;
            color: #fff;
            width: 100%;
            border-radius: 10px;
            }
    .grid-elements > div{
        background-color: #0b3f61;
        height: 25rem;
        border-radius: 15px;
            }
           

            .other-stuff{
                display: grid;
                grid-template-columns: 60rem 43rem;
                gap:  2rem;
                height:16rem;
                width: 5rem;
                color: #fff;
                width: 100%;
                margin-top: 10rem;
                border-radius: 10px;
                }

                .other-stuff > div{
                    background-color: #0b3f61;
                    height: 10rem;
                    border-radius: 15px;

                        }